<!DOCTYPE html>
<html lang="en">
<style>
    table, th, td {
      border:1px solid black;
    }
</style>
<%- include('../partials/head'); %>

<body class="container">
<body style="background-color: #E1AEAE;"
<%- include('../partials/header'); %>

<style>
    .btn {
      background-color: DodgerBlue;
      border: none;
      color: white;
      padding: 12px 16px;
      font-size: 16px;
      cursor: pointer;
    }
    
    /* Darker background on mouse-over */
    .btn:hover {
      background-color: RoyalBlue;
    }
    </style>

<main> 
    <br>
    <div class="jumbotron" style="background-color:rgb(127, 191, 221)">
      <h6><center><strong>AIRLINE PROSPECT INFORMATION</strong></center></h6>
        <table style="width:100%">
          <tr>
              <th>Airline</th>
              <th>First Name</th>
              <th>Last Name</th>
          </tr>
          <% report2.forEach(function(report2) { %>
          <tr>
              <td><%= report2.airline_name %></td>
              <td><%= report2.contact_first_name %></td>
              <td><%= report2.contact_last_name %></td> 
          </tr>
          
          <% }); %>
      </table>
  </div>

    
<br>
<ul>
  <a href="/reports"><button class="btn"><i class="fa fa-home"></i> Back</button></a>
</ul>
</main>


</body>
</body>
</html>